<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apple.arentcar.mapper.CarMapper">

    <!-- 모든 조회 -->
    <select id="getAllCars" resultType="com.apple.arentcar.dto.CarCardDTO">
        SELECT
        ct.car_type_name,
        cc1.common_name AS fuel_type,
        cc2.common_name AS seating_capacity,
        rc.model_year,
        ct.car_image_name,
        cc3.common_name AS car_manufacturer,
        cc4.common_name AS car_type_category,
        b.branch_name,
        b.branch_latitude,
        b.branch_longitude,
        cc3.brand_image_name
        FROM
        rental_cars rc
        JOIN
        car_types ct ON rc.car_type_code = ct.car_type_code
        JOIN
        common_codes cc1 ON cc1.common_code = ct.fuel_type AND cc1.common_kind_code = 'fuel_type'
        JOIN
        common_codes cc2 ON cc2.common_code = ct.seating_capacity AND cc2.common_kind_code = 'seating_capacity'
        JOIN
        common_codes cc3 ON cc3.common_code = ct.car_manufacturer AND cc3.common_kind_code = 'car_manufacturer'
        JOIN
        common_codes cc4 ON cc4.common_code = ct.car_type_category AND cc4.common_kind_code = 'car_type_category'
        JOIN
        branchs b on b.branch_code = rc.branch_code
        <where>
            <if test='branchName != null and branchName != ""'>
                AND b.branch_name = #{branchName}
            </if>
            <if test='fuelType != null and fuelType != ""'>
                AND cc1.common_name = #{fuelType}
            </if>
            <if test='carTypeCategory != null and carTypeCategory != ""'>
                AND cc4.common_name = #{carTypeCategory}
            </if>
            <if test='carManufacturer != null and carManufacturer != ""'>
                AND cc3.common_name = #{carManufacturer}
            </if>
            <if test='seatingCapacity != null and seatingCapacity != ""'>
                AND cc2.common_name = #{seatingCapacity}
            </if>
        </where>
    </select>
    <select id="getFilterCarsCount" resultType="int">
        SELECT
        COUNT(*)
        FROM
        rental_cars rc
        JOIN
        car_types ct ON rc.car_type_code = ct.car_type_code
        JOIN
        common_codes cc1 ON cc1.common_code = ct.fuel_type AND cc1.common_kind_code = 'fuel_type'
        JOIN
        common_codes cc2 ON cc2.common_code = ct.seating_capacity AND cc2.common_kind_code = 'seating_capacity'
        JOIN
        common_codes cc3 ON cc3.common_code = ct.car_manufacturer AND cc3.common_kind_code = 'car_manufacturer'
        JOIN
        common_codes cc4 ON cc4.common_code = ct.car_type_category AND cc4.common_kind_code = 'car_type_category'
        JOIN
        branchs b on b.branch_code = rc.branch_code
        <where>
            <if test='branchName != null and branchName != ""'>
                AND b.branch_name = #{branchName}
            </if>
            <if test='fuelType != null and fuelType != ""'>
                AND cc1.common_name = #{fuelType}
            </if>
            <if test='carTypeCategory != null and carTypeCategory != ""'>
                AND cc4.common_name = #{carTypeCategory}
            </if>
            <if test='carManufacturer != null and carManufacturer != ""'>
                AND cc3.common_name = #{carManufacturer}
            </if>
            <if test='seatingCapacity != null and seatingCapacity != ""'>
                AND cc2.common_name = #{seatingCapacity}
            </if>
        </where>
    </select>
    <select id="getCarType" resultType="com.apple.arentcar.dto.CarTypeDTO">
        SELECT common_name as car_type_name from common_codes cc WHERE common_kind_code = 'car_type_category';
    </select>
    <select id="getCarManufacturer" resultType="com.apple.arentcar.dto.CarManufacturerDTO">
        SELECT common_name as car_manufacturer from common_codes cc WHERE common_kind_code = 'car_manufacturer';
    </select>
    <select id="getFuelType" resultType="com.apple.arentcar.dto.FuelTypeDTO">
        SELECT common_name as fuel_type from common_codes cc WHERE common_kind_code = 'fuel_type';
    </select>
    <select id="getSeatingCapacity" resultType="com.apple.arentcar.dto.SeatingCapacityDTO">
        SELECT common_name as seating_capacity from common_codes cc WHERE common_kind_code = 'seating_Capacity';
    </select>
    <select id="getCarTypeCategory" resultType="com.apple.arentcar.dto.CarTypeCategoryDTO">
        SELECT common_name as car_type_category from common_codes cc WHERE common_kind_code = 'car_type_category';
    </select>
    <select id="getModelYear" resultType="com.apple.arentcar.dto.ModelYearDTO">
        SELECT DISTINCT model_year  from rental_cars order by model_year;
    </select>
    <select id="getAllBranchs" resultType="com.apple.arentcar.dto.BranchsDTO">
        SELECT branch_name from branchs ORDER BY branch_name;
    </select>




</mapper>