<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apple.arentcar.mapper.VisitorLogMapper">

    <!-- 모든 조회 -->
    <select id="getAllVisitorLog" resultType="com.apple.arentcar.model.VisitorLog">
        SELECT * FROM visitor_log
    </select>

    <!-- key 단건 조회 -->
    <select id="getVisitorLogById" resultType="com.apple.arentcar.model.VisitorLog">
        SELECT * FROM visitor_log
        WHERE visitor_log_code = #{visitorLogCode}
    </select>

    <!-- 전체 count 조회 -->
    <select id="getVisitorLogCount" resultType="integer">
        SELECT count(*) FROM visitor_log
    </select>

    <!-- Insert -->
    <insert id="createVisitorLog" parameterType="string">
        INSERT INTO visitor_log
        (ip_address, connect_time)
        VALUES
        (#{ipAddress}, NOW())
    </insert>

</mapper>
