.manager-reservation-wrap {
  margin: 20px;
}
.manager-reservation-title-wrap{
  margin: 20px 20px;
}

.manager-reservation-controls-wrap{
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 5px; /* 요소 간 간격 */
}

.manager-reservation-content-header-row-wrap {
  display: flex; 
}

.manager-reservation-content-list-wrap {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.manager-reservation-content-item {
  display: flex; /* 플렉스 박스로 가로 정렬 */
}

.manager-reservation-content-popup-wrap {
  width: 500px;
  margin: 250px auto;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 6px;
}

.manager-reservation-content-popup-close {
  display: flex;
  justify-content: space-between;
}

.register-menu-content-popup-line {
  margin: 5px 0px;
}
