.manager-post-reviews-wrap{
    margin: 20px;
}

.manager-post-reviews-header-h5{
    margin: 20px 0px;
    font-weight: bold;
    padding-left: 15px;
}

.manager-post-reviews-table-head{
    width: 1180px;
    display: flex;
    justify-content: space-between;
}

.manager-post-reviews-table-body{
    width: 1180px;
    margin-top: 10px;
    box-sizing : border-box;
}

.manager-post-reviews-table-head-colmn{
    background-color: aliceblue;
}

.manager-post-reviews-table-row-colmn, 
.manager-post-reviews-table-head-colmn{
    border: 1px solid #ededf0;
    height: 30px;
    padding-left: 5px;
}

.manager-post-review-popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.manager-post-review-popup-wrap{
    background-color: #fdfdfd;
    width: 600px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
}

.manager-post-review-popup-read{
    width: 750px;
    min-height: 280px;
}

.manager-post-review-popup-statistics{
    margin: 100px auto;
    min-width: 1000px;
    min-height: 450px;
}


.manager-post-review-popup-header{
    display: flex;
    justify-content: space-between;
}

.manager-post-review-popup-close{
    color: #ee0a0a;
}

.manager-post-review-popup-line{
    margin: 10px 0px;
}
.manager-post-review-popup-author{
    display: inline-block;
    margin: 1px 3px;
}

.manager-post-review-popup-scope{
    display: inline-block;
    margin: 0px 3px;
    font-size: 16px;
}


.manager-post-review-h6{
    font-weight: bold;
}

.manager-post-reviews-table-paging{
    margin-top: 5px;
}

.manager-post-review-popup-line ul{
    display: flex;
}

.manager-post-review-popup-line ul li{
    margin: 0 5px;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
}

.manager-post-review-popup-line ul li.on {
    border-bottom: 2px solid #bdbdbd;

}

.manager-post-review-popup-content {
    display: flex;
    justify-content: space-around;
}

.manager-post-review-popup-line-statistics{
    width: 50%;
}

.manager-post-review-popup-bold{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
